<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Meme generator RPO Vaja 4</h1>
  <form action="/nalozi" method="POST" enctype="multipart/form-data">
    Zgornji tekst <input name="zgornji" type="text"><br>
    Spodnji tekst <input name="spodnji" type="text"><br>
    Slika <input name="slika" type="file"><br>
    <button type="submit">Generiraj</button>
  </form>
</body>
</html>